/************************TAG SELECTORS************************/

body {
  background-color: blanchedalmond;
}

h1 {
  color: red;
  font-size: 100px;
}

img:hover {
  background-color: gold;
  height: 150px;
  width: 150px;
}

/************************CLASS SELECTORS************************/
.bacon {
  background-color: seagreen;
  height: 100px;
  width: 100px;
}

.broccoli {
  background-color: red;
  height: 100px;
  width: 100px;
}

.cercular {
  border-radius: 100%;
}
/************************ID SELECTORS************************/
#heading {
  color: bl;
}
